/* styles.css */
.button {
  padding: 10px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #45a049;
}

.tabsInfoContainer {
  margin: 20px;
}

.tabElement {
  list-style-type: none; /* 移除列表项的默认标记 */
  margin-bottom: 10px;
}


.tabsInfoContainer {
    font-family: Arial, sans-serif;
}

.windowElement {
    font-weight: bold;
    margin-top: 20px;
}

.tabElement {
    list-style-type: none;
}

.childTab {
    margin-left: 20px; /* 缩进子标签页 */
}

.tabButton {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tabButton.active {
    background-color: #007bff;
}

.tabButton.inactive {
    background-color: #6c757d;
}
.activeTab {
  /* 活动标签页的样式 */
  background-color: #4CAF50; /* 绿色 */
  color: white;
}

.inactiveTab {
  /* 未活动标签页的样式 */
  background-color: #f44336; /* 红色 */
  color: white;
}
.historyTab {
  /* 历史记录按钮的样式 */
  background-color: #FFA500; /* 橙色 */
  color: white;
  margin-top: 2px; /* 在按钮上方增加一点间隔 */
  margin-bottom: 2px; /* 在按钮下方增加一点间隔 */
}
